<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="top.flagshen.robot.mapper.QBindMapper">
    <select id="search" resultType="QBind">
        SELECT * FROM 16eQ WHERE MATCH(`string`) AGAINST(#{str});
    </select>
</mapper>